<p id="notice"><%= notice %></p>

<p>
  <strong>Idsuculent:</strong>
  <%= @suculentum.idSuculent %>
</p>

<p>
  <strong>Name:</strong>
  <%= @suculentum.name %>
</p>

<p>
  <strong>Idorgan:</strong>
  <%= @suculentum.idOrgan %>
</p>

<p>
  <strong>Idfamily:</strong>
  <%= @suculentum.idFamily %>
</p>

<p>
  <strong>Idsustrato:</strong>
  <%= @suculentum.idSustrato %>
</p>

<p>
  <strong>Temp:</strong>
  <%= @suculentum.temp %>
</p>

<p>
  <strong>Image:</strong>
  <%= @suculentum.image %>
</p>

<%= link_to 'Edit', edit_suculentum_path(@suculentum) %> |
<%= link_to 'Back', suculenta_path %>
