<p id="notice"><%= notice %></p>

<p>
  <strong>Idsustrato:</strong>
  <%= @sustrato.idSustrato %>
</p>

<p>
  <strong>Sustrato:</strong>
  <%= @sustrato.sustrato %>
</p>

<%= link_to 'Edit', edit_sustrato_path(@sustrato) %> |
<%= link_to 'Back', sustratos_path %>
