<p id="notice"><%= notice %></p>

<p>
  <strong>Idorgan:</strong>
  <%= @organ.idOrgan %>
</p>

<p>
  <strong>Organ:</strong>
  <%= @organ.organ %>
</p>

<%= link_to 'Edit', edit_organ_path(@organ) %> |
<%= link_to 'Back', organs_path %>
